<center>
<h1>Checking if your word "<strong><%= @answer %></strong>" is in the grid</h1>

<br><strong>Your Time :</strong> <%= @result[:time] %></br>
<br><strong>Your score :</strong> <%= @result[:score] %></br>
<br> <strong>Message :</strong> <%= @result[:message] %></br>
</center>
